<footer class="bg-ppal">
    <div class="w-full mx-auto p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm sm:text-center text-white">© UOC <a href="https://www.uoc.edu/portal/es/index.html" class="hover:underline">Universitat Oberta de Catalunya</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium  text-white sm:mt-0">
        <li>
            <a href="./index.html" class="mr-4 hover:underline md:mr-6 ">Inicio</a>
        </li>
        <li>
            <a href="./about.html" class="mr-4 hover:underline md:mr-6">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
